<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Matches</title>
</head>
<body>
<h1 th:text="'List of Matches'">Matches List</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Winner</th>
        <th>Lost</th>
        <th>Result</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="match : ${matches}">
        <td th:text="${match.id}">1</td>
        <td th:text="${match.playerW}" style="background-color: greenyellow">Joe</td>
        <td th:text="${match.playerL}">Buck</td>
        <td th:text="${match.result}">Buck</td>
        <td th:text="${match.date}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>