<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Matches</title>
</head>
<body>
<h1 th:text="'List of Matches'">Matches List</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Winner</th>
        <th>Lost</th>
        <th>Result</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="playerMatch : ${playerMatches}">
        <td th:text="${playerMatch.id}">1</td>
        <td th:text="${playerMatch.playerW.getFirstName() + ' ' + playerMatch.playerW.getLastName()}" style="background-color: greenyellow">Joe</td>
        <td th:text="${playerMatch.playerL.getFirstName() + ' ' + playerMatch.playerL.getLastName()}">Buck</td>
        <td th:text="${playerMatch.result}">Buck</td>
        <td th:text="${playerMatch.date}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>