<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Players</title>
</head>
<body>
    <h1 th:text="'List of Players'">Players List</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players}">
            <td th:text="${player.id}">1</td>
            <td th:text="${player.firstName}">Joe</td>
            <td th:text="${player.lastName}">Buck</td>
        </tr>
        </tbody>
    </table>
</body>
</html>
-->