<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
</head>
<body>
<h1 th:text="'Table'">Table</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Wins</th>
        <th>Loses</th>
        <th>Points</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player : ${players}">
        <td th:text="${player.id}"></td>
        <td th:text="${player.firstName}"></td>
        <td th:text="${player.lastName}"></td>
        <td th:text="${player.wins}"></td>
        <td th:text="${player.loses}"></td>
        <td th:text="${player.points}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>